.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  right: 0px;
  overflow: hidden;
  background-color: #0F1214;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-section {
  position: absolute;
  top: 80px;
  bottom: 100%;
  left: 0px;
  right: 0px;
  overflow: auto;
  bottom: 80px;
  background-color: #151A1E;
  color: #6FBCE2;
}

.App-footer {
  position: absolute;
  width: 100%;
  background-color: #0F1214;
  color: white;
  height: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-step {
  color: white;
}

.App-hfcontainer {
  color: white;
  display: flex;
  align-items: stretch;
}

.App-hfcontainer > div {
  background-color: DodgerBlue;
  margin: 10px;
}
